        <div class="mobile footer">
            <div class="subfooter-container">
                <div class="subfooter-title">
                    <div class="subfooter-label">
                        Get help buying
                    </div>
                    <div class="subfooter-description">
                        Have questions? Call a Perk Specialist or chat online.
                    </div>
                    <div class="subfooter-link">
                        <a href="/contact">Contact us >&nbsp;&nbsp;<i class="fas fa-comment"></i></a>&nbsp;&nbsp;<a href="tel:19294005667"><i class="fas fa-phone-alt"></i></a>
                    </div>
                </div>
                <div class="subfooter-description">
                    Apple, the Apple logo, iPhone, Apple TV, Macbook, Apple Pay, Apple Arcade and iPad are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App Store is a service mark of Apple Inc.
                    <br/>Amazon, Amazon Pay, Kindle, Audible, Fire and all related logos are trademarks of Amazon.com, Inc. or its affiliates. 
                    <br/>Netflix is a trademarks of Netflix Inc., registered in the U.S. and other countries and regions. 
                    <br/><br/>Complete list of trademarks for companies and products mentioned can be found <a href="#">here</a>.
                </div>
            </div>
        </div>
        <div class="mobile footer-menu">
            <div class="menu-title">
                <div><img class="logo" src="<%= publicURL%>/img/perkfix-green-logo-pf.png">&nbsp;<img class="arrow" src="<%= publicURL%>/img/img-left-arrow.png"></div>&nbsp;<div class="logo-label"><%= bottomTitle %></div>
            </div>
            <div class="menu-items">
                <div class="menu-item">
                    <a href="/wp/aboutus">About Us</a>
                </div>
                <div class="menu-item">
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="menu-item">
                    Our Values
                </div>
                <div class="menu-item">
                    Resources
                </div>
                <!-- <div class="menu-item">
                    Track Perk Card
                </div>
                <div class="menu-item">
                    For Non-Profit
                </div> -->
                <div class="menu-item">
                    Responsibility to our providers
                </div>
                <div class="menu-item">
                    Diversity & Belonging
                </div>
                <div class="menu-item">
                    Careers
                </div>
            </div>
            <div class="menu-description">
                <div class="country-flag">
                    <div>Country:&nbsp;&nbsp;</div><img class="flag" src="<%= publicURL%>/img/img-flag-us.png">
                </div>
                <div class="copyright">
                    Copyright © 2019, Perkfix Inc. All rights reserved.
                </div>
                <div class="terms">
                    <a>Privacy</a> | <a href="terms.html">Terms & Conditions</a> | <a>Site Map</a>
                </div>
            </div>
        </div>
        <div class="non-mobile footer">
            <div class="subfooter-container">
                <div class="subfooter-title">
                    <div class="subfooter-description">
                        Have questions? Call <br/>a Perk Specialist or <br/>chat online.
                    </div>
                    <div class="subfooter-link">
                        <a href="/contact">Contact us >&nbsp;&nbsp;<i class="fas fa-comment"></i></a>&nbsp;&nbsp;<a href="tel:19294005667"><i class="fas fa-phone-alt"></i></a>
                    </div>
                </div>
                <div class="subfooter-description">
                    Apple, the Apple logo, iPhone, Apple TV, Macbook, Apple Pay, Apple Arcade and iPad are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App Store is a service mark of Apple Inc.
                    <br/>Amazon, Amazon Pay, Kindle, Audible, Fire and all related logos are trademarks of Amazon.com, Inc. or its affiliates. 
                    <br/>Netflix is a trademarks of Netflix Inc., registered in the U.S. and other countries and regions. 
                    <br/><br/>Complete list of trademarks for companies and products mentioned can be found <a href="#">here.</a>
                </div>
            </div>
        </div>
        <div class="non-mobile footer-menu">
            <div class="menu-title">
                <div><img class="logo" src="<%= publicURL%>/img/perkfix-green-logo-pf.png">&nbsp;<img class="arrow" src="<%= publicURL%>/img/img-left-arrow.png"></div>&nbsp;<div class="logo-label"><%= bottomTitle %></div>
            </div>
            <div class="menu-items">
                <div class="menu-item">
                    <a href="/aboutus">About Us</a>
                </div>
                <div class="menu-item">
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="menu-item">
                    <a href="/ourvalues">Our Values</a>
                </div>
                <div class="menu-item">
                    Resources
                </div>
                <!-- <div class="menu-item">
                    Track Perk Card
                </div>
                <div class="menu-item">
                    For Non-Profit
                </div> -->
                <div class="menu-item">
                    Responsibility to our providers
                </div>
                <div class="menu-item">
                    Diversity & Belonging
                </div>
                <div class="menu-item">
                    Careers
                </div>
            </div>
            <div class="menu-description">
                <div class="country-flag">
                    <div>Country:&nbsp;&nbsp;</div><img class="flag" src="<%= publicURL%>/img/img-flag-us.png">
                </div>
                <div class="copyright">
                    Copyright © 2020, Perkfix Inc. All rights reserved.
                </div>
                <div class="terms">
                    <a>Privacy</a> | <a href="/terms">Terms & Conditions</a> | <a>Site Map</a>
                </div>
            </div>
        </div>
        
        
        <script type="text/javascript" src="<%= publicURL%>/js/scripts.js"></script>
    </body>
</html>