<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perkfix.com</title>

    
    <link rel="stylesheet" href="<%= publicURL%>/css/style-dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script type="text/javascript" src="<%= publicURL%>/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="<%= publicURL%>/js/jquery-ui.min.js"></script>
    <meta name="robots" content="noindex,nofollow">
    <link rel="dns-prefetch" href="<%= publicURL%>//s.w.org">
    <script type="text/javascript">
        window._wpemojiSettings = {"publicURL":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/perkfix.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3"}};
        !function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script src="<%= publicURL%>/js/wp-emoji-release.min.js?ver=5.3" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="https://perkfix.com/wp-includes/css/dist/block-library/style.min.css?ver=5.3" type="text/css" media="all">
    <link rel="stylesheet" id="wp-post-modal-css" href="https://perkfix.com/wp-content/plugins/wp-post-modal/public/css/wp-post-modal-public.css?ver=1.0.0" type="text/css" media="all">
    <link rel="stylesheet" id="autocomplete.css-css" href="https://perkfix.com/wp-content/themes/perkfixone/js/jquery.auto-complete.css?ver=5.3" type="text/css" media="all">
    <script type="text/javascript" src="https://perkfix.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
    <script type="text/javascript" src="https://perkfix.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var fromPHP = {"pluginUrl":"https:\/\/perkfix.com\/wp-content\/plugins\/wp-post-modal\/public\/","breakpoint":"0","styled":"1","disableScrolling":"1","loader":"1","ajax_url":"https:\/\/perkfix.com\/wp-admin\/admin-ajax.php","siteUrl":"https:\/\/perkfix.com","restMethod":"1","iframe":"1","urlState":"1","containerID":"#modal-ready","isAdmin":""};
    /* ]]> */
    </script>
    <script type="text/javascript" src="https://perkfix.com/wp-content/plugins/wp-post-modal/public/js/wp-post-modal-public.js?ver=1.0.0"></script>
    <script type="text/javascript" src="https://perkfix.com/wp-content/themes/perkfixone/js/jquery.auto-complete.js?ver=5.3"></script>
    <link rel="https://api.w.org/" href="https://perkfix.com/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://perkfix.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://perkfix.com/wp-includes/wlwmanifest.xml"> 
    <meta name="generator" content="WordPress 5.3">
    <link rel="icon" href="https://perkfix.com/wp-content/uploads/2019/11/perkfix-green-logo-pf.png" sizes="32x32">
    <link rel="icon" href="https://perkfix.com/wp-content/uploads/2019/11/perkfix-green-logo-pf.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://perkfix.com/wp-content/uploads/2019/11/perkfix-green-logo-pf.png">
    <meta name="msapplication-TileImage" content="https://perkfix.com/wp-content/uploads/2019/11/perkfix-green-logo-pf.png">
    <link rel="icon" href="https://perkfix.com/wp-content/themes/perkfixone/img/perkfix-logo.png">
</head>