<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title><%= title %></title>
        
        
        <!-- Toggles CSS -->
        <!-- <link href="<%= publicURL%>/vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css"> -->
        <!-- <link href="<%= publicURL%>/vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css"> -->

        <!-- Custom CSS -->
        <link href="<%= publicURL%>/css/style.css" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="<%= publicURL%>/css/style-dashboard1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        
        <script type="text/javascript" src="<%= publicURL%>/js/jquery-3.4.1.js"></script>
        <!-- <script type="text/javascript" src="<%= publicURL%>/js/jquery-ui.min.js"></script> -->
        <link rel="icon" href="<%= publicURL%>/img/perkfix-logo.png" />

        <!-- Bootstrap Core JavaScript -->
        <!-- <script src="<%= publicURL%>/vendors/popper.js/dist/umd/popper.min.js"></script> -->
        <script src="<%= publicURL%>/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Slimscroll JavaScript -->
        <!-- <script src="<%= publicURL%>/js/jquery.slimscroll.js"></script> -->

        <!-- Fancy Dropdown JS -->
        <!-- <script src="<%= publicURL%>/js/dropdown-bootstrap-extended.js"></script> -->

        <!-- Sparkline JavaScript -->
        <script src="<%= publicURL%>/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- <script src="<%= publicURL%>/js/sparkline-data.js"></script> -->

        <!-- Easy pie chart JS -->
        <script src="<%= publicURL%>/vendors/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <!-- <script src="<%= publicURL%>/js/easypiechart-data.js"></script> -->

        <!-- FeatherIcons JavaScript -->
        <!-- <script src="<%= publicURL%>/js/feather.min.js"></script> -->

        <!-- Toggles JavaScript -->
        <!-- <script src="<%= publicURL%>/vendors/jquery-toggles/toggles.min.js"></script> -->
        <!-- <script src="<%= publicURL%>/js/toggle-data.js"></script> -->

        <!-- Init JavaScript -->
        <!-- <script src="<%= publicURL%>/js/init.js"></script> -->
    </head>

    <body>
        <script>
            // window width
            var windowWidth;
            $(document).ready(function() {
                windowWidth = window.innerWidth;
                if (typeof reloadPlatform === "function") reloadPlatform();
                $(window).on('resize', function(){
                    windowWidth = window.innerWidth;
                    if (typeof reloadPlatform === "function") reloadPlatform();
                });
            });
        </script>