<nav class="navbar navbar-expand-xl navbar-dark custom-header" id="custom-header-navbar">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedExample" aria-controls="navbarSupportedExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">X</span>
        </button>
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="<%= publicURL%>/img/perkfix-green-logo-pf.png" class="brand-img d-inline-block align-top" style="width: 60%;" alt="brand">
        </a>
        <a class="navbar-brand align-items-center show-mobile-subnav-link" href="/login">
            Log In
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item show-mobile-subnav pt-15 pb-15 border-bottom text-right">
                    <a class="nav-link btn trial-nav-btn" href="/trial">Start trial</a>
                </li>
                <li class="nav-item dropdown ml-lg-100 ml-md-50 ml-sm-20">
                    <a class="nav-link dropdown-toggle hide-arrow" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="nav-custom-dropdown">
                        Products
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropdown">
                        <a class="dropdown-item" href="/platform">Platform</a>
                        <a class="dropdown-item" href="/shop-perks">Shop Perks</a>
                    </div>
                </li>
                <li class="nav-item ml-lg-100 ml-md-50 ml-sm-20">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item ml-lg-100 ml-md-50 ml-sm-20 hide-mobile-subnav">
                    <a class="nav-link btn" style="background-color: #29c888;" href="/trial">Start trial</a>
                </li>
                <li class="nav-item ml-lg-100 ml-md-50 ml-sm-20 hide-mobile-subnav">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="custom-header custom-header-subnav hide">
    <a href="/platform" style="margin-left: 37%;">Platform</a>
    <a href="/shop-perks" style="margin-left: 8%;">Shop Perks</a>
</div>
<script>
    $(document).ready(function() {
        // $("[data-id='nav-custom-dropdown']").hover(function(event) {
        //     event.preventDefault();
        //     if ($(".custom-header-subnav").length > 0) {
        //         $(".custom-header-subnav").removeClass('hide');
        //         $(".custom-header-subnav").addClass('show');
        //     }
        // }, function(event) {
        //     event.preventDefault();
        // });
        // $(".custom-header-subnav").hover(function(event) {
        //     event.preventDefault();
        // }, function(event) {
        //     event.preventDefault();
        //     if ($(".custom-header-subnav").length > 0) {
        //         $(".custom-header-subnav").removeClass('show');
        //         $(".custom-header-subnav").addClass('hide');
        //     }
        // });
        $("[data-id='nav-custom-dropdown']").click(function(event) {
            event.preventDefault();
            if ($(".custom-header-subnav").hasClass('show')) {
                $(".custom-header-subnav").removeClass('show');
                $(".custom-header-subnav").addClass('hide');
            } 
            else{
                $(".custom-header-subnav").removeClass('hide');
                $(".custom-header-subnav").addClass('show');
            }
        });
    });
</script>