<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="platform-dashboard" font-family="light">
  <div class="container">
      <h1 class="text-center mt-lg-45 mt-md-30 mt-15 mb-lg-60 mb-md-40 mb-10" color="black" font-family="bold">Say hello to happier,<br/> productive teams.</h1>
      <img src="<%= publicURL%>/img/dashboard-b-top.jpg" class="img-fluid mb-lg-40 mb-md-20 mb-10">
  </div>
  <div class="container-fluid pt-lg-40 pt-md-20 pt-10 pb-lg-70 pb-md-40 pb-25" bg-color="black">
    <div class="header-home2">
      <h1 class="text-center mb-lg-13 mb-10" color="white" font-family="bold">Their goals, are your goals.</h1>
      <h3 class="text-center mb-lg-20 mb-md-10 mb-3" color="white" font-family="bold">Our fitness perks let your employees push their<br>boundaries at the gym or home</h3>
    </div>
    <div class="container" style="background-color: #0f0f15;">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="<%= publicURL%>/img/img-fitness-perks.png" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12">
          <h1 class="mt-lg-80 mt-md-40 mt-30 ml-lg-90 ml-md-50 ml-30" color="white" font-family="bold">73%</h1>
          <h5 class="mt-lg-20 mt-10 ml-lg-90 ml-md-50 ml-30 mb-40" color="white">of employees say<br>personalized perks increase<br>their loyalty.*</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 order-md-2">
          <img src="<%= publicURL%>/img/dashboard-b-mid-1.jpg" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 order-md-1">
          <h1 class="mt-lg-80 mt-md-40 mt-30 ml-lg-90 ml-md-50 ml-30" color="white" font-family="bold">83%</h1>
          <h5 class="mt-lg-20 mt-10 ml-lg-90 ml-md-50 ml-30 mb-40" color="white">of employees would take a<br>pay cut for better perks.*</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h2 class="text-center mt-lg-45 mt-md-30 mt-20 mb-lg-40 mb-md-25 mb-10" font-family="light"><b font-family="bold">Fitness</b> | Perks</h2>
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-8 offset-2">
      <div class="row">
        <div class="col-4 pelaton text-center">
          <img src="<%= publicURL%>/img/pelaton.jpg" class="img-fluid">
          <div>Pelaton</div>
        </div>
        <div class="col-4 classpass text-center">
          <img src="<%= publicURL%>/img/classpass.jpg" class="img-fluid">
          <div>Classpass</div>
        </div>
        <div class="col-4 aaptiv text-center">
          <img src="<%= publicURL%>/img/aaptiv.jpg" class="img-fluid">
          <div>Aaptiv</div>
        </div>
      </div>
    </div>
    <div class="container text-center mt-lg-40 mt-md-23 mt-30 mb-lg-60 mb-md-40 mb-20">
      <a href="/wp/perkstore?category_id=12" class="dashboard-link">More fitness perks  ></a>
      <a href="/trial" class="dashboard-link">Start Trial  ></a>
    </div>
    <h0 class="text-center" font-family="bold">Our perks go beyond 9 to 5</h0>
  </div>
  <div class="container-fluid mt-lg-50 mt-md-25 mt-20 mb-lg-50 mb-md-25 mb-10">
    <div class="row">
      <div class="col-md-6 col-sm-12 pl-0 pr-md-10 pr-0">
        <img src="<%= publicURL%>/img/dashboard-b-mid-3.jpg" class="img-fluid">
      </div>
      <div class="col-md-6 col-sm-12 mt-md-0 mt-10 pr-0 pl-md-10 pl-0">
        <img src="<%= publicURL%>/img/dashboard-b-mid-4.jpg" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container-fluid pt-lg-50 pt-md-30 pt-30 pb-lg-15 pb-md-8 pb-30" bg-color="black" color="white">
    <h2 class="text-center mb-lg-35 mb-md-20 mb-10" color="white" font-family="bold">Productivity<span font-family="light"> | Perks</span></h2>
    <div class="text-center">
      <a href="/wp/perkstore?category_id=15" class="dashboard-link">More lifestyle perks  ></a>
      <a href="/trial" class="dashboard-link">Start Trial  ></a>
    </div>
  </div>
  <div class="container-fluid mt-lg-35 mt-md-15 mt-15">
      <div class="row">
        <div class="col-md-6 col-sm-12 pl-0 pr-md-10 pr-0">
          <img class="img-fluid" src="<%= publicURL%>/img/img-landing11.jpg">
        </div>
        <div class="col-md-6 col-sm-12 mt-md-0 mt-10 pr-0 pl-md-10 pl-0">
          <img class="img-fluid" src="<%= publicURL%>/img/img-landing21.jpg">
        </div>
      </div>
      <div class="row mt-lg-25 mt-md-15 mt-9">
        <div class="col-md-6 col-sm-12 mt-md-0 mt-10 pl-0 pr-md-10 pr-0">
          <img class="img-fluid" src="<%= publicURL%>/img/img-landing31.jpg">
        </div>
        <div class="col-md-6 col-sm-12 mt-md-0 mt-10 pr-0 pl-md-10 pl-0">
          <img class="img-fluid" src="<%= publicURL%>/img/img-landing41.jpg">
        </div>
      </div>
    </div>
    <div class="container">
      <h0 class="text-center mt-lg-45 mt-md-30 mt-20 mb-lg-30 mb-md-18 mb-15">Upskill from any distance.</h0>
      <h3 class="text-center mb-lg-20 mb-md-10 mb-5 d-none d-md-block">With perkfix you can help your employees<br>stay relevant by</h3>
    </div>
    <div class="container-fluid pt-lg-30 pt-15 pb-lg-30 pb-15" bg-color="brown">
      <div class="container">
        <div class="row">
          <div class="col-5">
            <img src="<%= publicURL%>/img/dashboard-b-mid-5.jpg" class="img-fluid" id="mid-left-image" alt="">
          </div>
          <div class="col">
            <img src="<%= publicURL%>/img/dashboard-b-mid-6.jpg" class="img-fluid" id="mid-right-image" alt="">
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          $('#mid-left-image, #mid-right-image').on('load', function(event) {
            if ($("#mid-left-image").height() != $("#mid-right-image").height()) {
              $("#mid-left-image").height($("#mid-right-image").height());
            }
          });
          $(window).on('resize', function(){
            $("#mid-left-image").height($("#mid-right-image").height());
          });
        });
      </script>
    </div>
    <div class="container-fluid mb-lg-30 mb-md-15 mb-10">
      <h2 class="text-center mt-lg-20 mt-md-10 mt-3 mb-lg-40 mb-md-23 mb-10" font-family="bold">Learning <span font-family="light">| Perks</span></h2>
      <div class="row d-flex justify-content-center">
        <div class="pelaton col-auto">
          <img src="<%= publicURL%>/img/pluralsight.jpg" class="img-fluid">
          <h5>PLURALSIGHT</h5>
        </div>
        <div class="classpass col-auto">
          <img src="<%= publicURL%>/img/site-logo-400.jpg" class="img-fluid">
          <h5>A CLOUD GURU</h5>
        </div>
        <div class="aaptiv col-auto">
          <img src="<%= publicURL%>/img/1-r-fz-wgaxkbf-va-yf-hiqu-hl-3-q.jpg" class="img-fluid">
        </div>
        <div class="babel col-auto">
          <img src="<%= publicURL%>/img/download.jpg" class="img-fluid">
        </div>
      </div>
      <div class="container text-right">
        <a href="/wp/perkstore?category_id=102" class="dashboard-link">More Training Perks  ></a>
        <a href="/trial" class="dashboard-link">Start Trial  ></a>
      </div>
    </div>
    <div id="perkfix_home10" class="perkfix perkfix-home10 color_gray">
      <div class="title">
        <h1>How it works</h1>
      </div>
      <div class="setting">
        <h2 class="txt-switch mt-lg-30 mt-20">
          <span class="txt-switch-off txt-switch-off-span">For HR/People Ops</span>
          <span class="txt-switch-on txt-switch-on-span">For Employees</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </h2>
      </div>
      <div class="container content subpage1 subpage pt-lg-80 pt-md-40 pt-10">
        <div class="option active mb-lg-120 mb-md-80 mb-20">
          <div>
            <a class="btn-number">1</a>
          </div>
          <div class="pt-md-0 pt-15">
            <p class="txt-title"><span class="txt-switch-on">Get App</span><span class="txt-switch-off">Sign-up</span></p>
            <p class="txt-content"><span class="txt-switch-on">Sign-up to perkfix.com once invited by your HR.</span><span class="txt-switch-off">Setup and func perks account on perkfix.com.</span></p>
          </div>
        </div>
        <div class="option active mb-lg-120 mb-md-80 mb-20">
          <div>
            <a class="btn-number">2</a>
          </div>
          <div class="pt-md-0 pt-15">
            <p class="txt-title"><span class="txt-switch-on">Perklists</span><span class="txt-switch-off">Build Program</span></p>
            <p class="txt-content"><span class="txt-switch-on">Create perklists of pre-approved perks.</span><span class="txt-switch-off">Build a customizable perks program for your employees.</span></p>
          </div>
        </div>
        <div class="option active mb-lg-120 mb-md-80 mb-20">
          <div>
            <a class="btn-number">3</a>
          </div>
          <div class="pt-md-0 pt-15">
            <p class="txt-title"><span class="txt-switch-on">Get Reimbursed</span><span class="txt-switch-off">Invite</span></p>
            <p class="txt-content"><span class="txt-switch-on">No extra cards, get reimbursed in your account.</span><span class="txt-switch-off">Invite your team to join the program.</span></p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-lg-50 mt-md-25 mt-10 mb-lg-50 mb-md-25 mb-10">
        <a href="#" class="" color="blue" font-family="medium">Learn more <span class="material-icons" style="font-size: 15px;">open_in_new</span></a>
      </div>
    </div>
  </div>     
</div>
<%- include('../partials/footer-dashboard') %>