<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="auth">
    <div class="auth-page">
        <h1 color="white">Check Email</h1>
        <div class="content">
            <p class="mt-lg-20 mt-md-12 mt-sm-3 mb-lg-20 mb-md-12 mb-sm-3" color="white">We have sent you an authentication link to your corporate email.</p>
            <!-- <a href="/send_email">Resend email</a> -->
            <a href="/thanks">Go To Calendy Page</a>
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>