<%- include('../partials/header-dashboard') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="pfo-container">
    <div class="perkfix perkfix-home1">
        <h1>Say hello to happier,<br/> more productive teams.</h1>
        <div class="content-img">
          <img src="<%= publicURL%>/img/img-hello-to-happier.png" class="">
        </div>
    </div>
    <div class="perkfix perkfix-home3">
      <div class="header-home2">
        <h1>Their goals,<br>&nbsp;are your goals.</h1>
      </div>
      <div class="content4">
        <p class="txt-fitness">Our fitness perks let your<br/>employees push their boundaries at<br/>the gym or home. </p>
        <img src="<%= publicURL%>/img/img-fitness-perks.png" class="fitness">
      </div>
    </div>
    <div class="perkfix perkfix-home4">
      <div class="header-home3">
        <p><span class="bold-title">Fitness</span> | Perks</p>
      </div>
      <div class="content-icon">
        <div class="icon-blank">
          
        </div>
        <div class="icon-sect">
          <div class="pelaton">
            <img src="<%= publicURL%>/img/pelaton.jpg" class="">
            <div>Pelaton</div>
          </div>
          <div class="classpass">
            <img src="<%= publicURL%>/img/classpass.jpg" class="">
            <div>Classpass</div>
          </div>
          <div class="aaptiv">
            <img src="<%= publicURL%>/img/aaptiv.jpg" class="">
            <div>Aaptiv</div>
          </div>
        </div>
        <div class="icon-desc">
          <div>
            <h1>59%</h1>
          </div>
          <div>
            <p>of employees agree that wellness perks<br/>
            increase loyalty.<sup>4</sup></p> 
          </div>
        </div>
      </div>
      <div class="content-link">
        <a href="/wp/perkstore?category_id=12">More wellness perks  ></a>
        <a href="#">Start Trial  ></a>
      </div>
      <div class="content-img">
        <p class="title">Remote work.<br/>Business as usual.</p>
        <div class="sub-icons">
          <img class="image1" src="<%= publicURL%>/img/ico/ico-nordvpn.png">
          <img class="image2" src="<%= publicURL%>/img/ico/ico-instacart.png">
          <img class="image3" src="<%= publicURL%>/img/ico/ico-grubhubplus.png">
          <p class="title-image3">GrubHub+</p>
        </div>
        <p class="content">Our virtual perks ensure work and life<br/>don't clash - they collaberate.</p>
        <img src="<%= publicURL%>/img/img-remotework-perk.png" class="image">
      </div>
    </div>
    <div class="perkfix perkfix-home5">
      <div class="man">
        <p class="txt-man">Epic perks like Audible, Google<br/>Stadia, Apple music to ease their<br/>commute.</p>
        <img src="<%= publicURL%>/img/man1.jpg">
      </div>
      <div class="car">
          <img src="<%= publicURL%>/img/car1.jpg">
      </div>
    </div>
    <div class="perkfix perkfix-home6">
      <div class="section-1">
        <div class="subsect-1">
          <div class="title-commuter">
            <h1>Commuter </h1>&nbsp;&nbsp;<p> | Perks</p>
          </div>
          <div class="subsect-icons">
            <div class="audible algin-icon">
              <div>
                <img src="<%= publicURL%>/img/audible.png" class="img-audible">
              </div>
              <p>Audible</p>
            </div>
            <div class="lime-bike algin-icon">
              <div>
                <img src="<%= publicURL%>/img/lime-bike.png" class="img-lime">
              </div>
              <p>Lime Bike</p>
            </div>
            <div class="spotify algin-icon">
              <div>
                <img src="<%= publicURL%>/img/spotify.png" class="spotify">
              </div>
              <p>Spotify</p>
            </div>
            <div class="uber algin-icon">
              <div>
                <img src="<%= publicURL%>/img/uber.jpg" class="uber">
              </div>
              <p>Uber</p>
            </div>
          </div>
  
          <div class="subsect-link">
            <a class="no-underline" href="#">More commuter perks ></a>
            <a class="no-underline" href="#">Start Trial ></a>
          </div>
        </div>
        <div class="subsect-2">
          <div class="title-commuter ">
            <h1 class="title-red">1/3<sup>rd</sup></p>
          </div>
          <div class="content-commuter">
            <p class="content-text">of American workers would<br/>
              leave their current employer<br/>
              in order to pursue more attractive<br/>
              perks elsewhere.<sup>1</sup>
            </p>
          </div>
          <div class="title-commuter">
            <h1 class="title-green">10x</h1>
          </div>
          <div class="content-commuter">
            <p>ROI realization on carefully crafted<br/>perks.<sup>3</sup></p>
          </div>
        </div>
      </div>
      <div class="section-2">
        <div class="subsect-1">
          <div>
            <h1>72%</h1>
          </div>
          <div>
            <p>of employees agree<br/>personalized perks increase<br/>loyalty.<br/>loyalty.<sup>4</sup></p> 
          </div>
        </div>
        <div class="subsect-2">
          <div>
            <h1>68%</h1>
          </div>
          <div class="sub-content">
            <p>of employees agree that<br/>portability in benefits and<br/>perks increase loyalty.<sup>4</sup></p> 
          </div>
            <a href="#" class="btn-learn">Learn more</a>
        </div>
        <div class="subsect-3">
          <div>
            <h1>63%</h1>
          </div>
          <div>
            <p>employees take sick leaves<br/>and are 3x times likely to<br/>quit due to burnout.<sup>6</sup></p> 
          </div>
        </div>
      </div>
    </div>
    <div class="perkfix perkfix-home7">
      <div class="container">
        <div class="title">
          <h1>Learn. Build. Repeat.</h1>
          <p>World's largest learning resources — now<br/>aligned to your company's needs.</p>
        </div>
        <img src="<%= publicURL%>/img/Training perks.jpg">
      </div>
      <div class="header-home3">
        <p><span class="bold-title">Training</span> | Perks</p>
      </div>
      <div class="content-icon">
        <div class="icon-blank">
          
        </div>
        <div class="icon-sect">
          <div class="pelaton">
            <img src="<%= publicURL%>/img/pluralsight.jpg" class="">
            <div>PLURALSIGHT</div>
          </div>
          <div class="classpass">
            <img src="<%= publicURL%>/img/site-logo-400.jpg" class="">
            <div>A CLOUD GURU</div>
          </div>
          <div class="aaptiv">
            <img src="<%= publicURL%>/img/1-r-fz-wgaxkbf-va-yf-hiqu-hl-3-q.jpg" class="">
          </div>
        </div>
        <div class="icon-desc">
          <div class="babel">
            <img src="<%= publicURL%>/img/download.jpg" class="">
          </div>
          <div class="link">
            <a href="/wp/perkstore?category_id=102">More Training Perks  ></a>
            <a href="#">Start Trial  ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="perkfix perkfix-home8">
      <div class="container">
        <div class="title">
          <h1>Our perks go beyond 9 to 5.</h1>
        </div>
        <img src="<%= publicURL%>/img/rustic family cooking2.jpg">
      </div>
    </div>
    <div class="perkfix perkfix-home9">
      <div class="header1">
        <div class="header-home3">
          <p><span class="bold-title">Lifestyle</span> | Perks</p>
        </div>
        <div class="content-link">
          <a href="/wp/perkstore?category_id=15">More lifestyle perks  ></a>
          <a href="#">Start Trial  ></a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col top-left">
            <img class="landing" src="<%= publicURL%>/img/img-landing1.png">
            <div class="ico-cols">
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-barkbox.png"></div>
                <div>Barkbox</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-rover.png"></div>
                <div>Rover</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-wag.png"></div>
                <div>Wag</div>
              </div>
            </div>
          </div>
          <div class="col top-right">
            <div class="ico-cols">
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-applearcade.png"></div>
                <div>Apple Arcade</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-netflix.png"></div>
                <div>Netflix</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-hbonow.png"></div>
                <div>HBO NOW</div>
              </div>
            </div>
            <img class="landing" src="<%= publicURL%>/img/img-landing2.png">
          </div>
        </div>
        <div class="row">
          <div class="col bottom-left">
            <img class="landing" src="<%= publicURL%>/img/img-landing3.png">
            <div class="ico-cols">
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-blueapron.png"></div>
                <div>Blue Apron</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-dailyharvest.png"></div>
                <div>Daily Harvest</div>
              </div>
              <div class="ico-item">
                <div><img src="<%= publicURL%>/img/ico/ico-landing-homechef.png"></div>
                <div>Home Chef</div>
              </div>
            </div>
          </div>
          <div class="col bottom-right">
              <div class="ico-cols">
                  <div class="ico-item">
                    <div><img src="<%= publicURL%>/img/ico/ico-landing-stitchfix.png"></div>
                    <div>Stitch Fix</div>
                  </div>
                  <div class="ico-item">
                    <div><img src="<%= publicURL%>/img/ico/ico-landing-rtr.jpg"></div>
                    <div>Rent The Runway</div>
                  </div>
                  <div class="ico-item">
                    <div><img src="<%= publicURL%>/img/ico/ico-landing-kidpik.png"></div>
                    <div>Kidpik</div>
                  </div>
                </div>
            <img class="landing" src="<%= publicURL%>/img/img-landing4.png">
          </div>
        </div>
      </div>
    </div>
    <div id="perkfix_home10" class="perkfix perkfix-home10">
      <div class="title">
        <h1>How it works</h1>
      </div>
      <div class="setting">
        <h2 class="txt-switch"><span class="txt-switch-off">For Employees</span><span class="txt-switch-on">For HR/ People Ops</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </h2>
      </div>
      <div class="content subpage1 subpage">
        <div class="option active">
          <div>
            <a class="btn-number">1</a>
          </div>
          <div>
            <p class="txt-title">Sign-up</p>
            <p class="txt-content"><span class="txt-switch-on">Sign-up to perkfix.com once invited by your HR.</span><span class="txt-switch-off">Setup your company account on perkfix.com.</span></p>
          </div>
        </div>
        <div class="option active">
          <div>
            <a class="btn-number">2</a>
          </div>
          <div>
            <p class="txt-title"><span class="txt-switch-on">Explore</span><span class="txt-switch-off">Program</span></p>
            <p class="txt-content"><span class="txt-switch-on">Select preapproved perks from program.</span><span class="txt-switch-off">Build a customizable perks program for your employees.</span></p>
          </div>
        </div>
        <div class="option active">
          <div>
            <a class="btn-number">3</a>
          </div>
          <div>
            <p class="txt-title"><span class="txt-switch-on">Reimburse</span><span class="txt-switch-off">Invite</span></p>
            <p class="txt-content"><span class="txt-switch-on">Reimburse perks</span><span class="txt-switch-off">Invite your team to join the program.</span></p>
          </div>
        </div>
      </div>
    </div>     
  </div>
<%- include('../partials/footer-dashboard') %>