<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
        <div class="pfo-container platform-dashboard">
              <div class="perkfix perkfix-home1">
                  <h1>Say hello to happier,<br/> more productive teams.</h1>
                  <div class="content-img">
                    <img src="<%= publicURL%>/img/img-hello-to-happier.png" class="">
                  </div>
              </div>
              <div class="perkfix perkfix-home3">
                <div class="header-home2">
                  <h1>Their goals,<br>&nbsp;are your goals.</h1>
                </div>
                <div class="content41 text-center">
                  <!-- <p class="txt-fitness1">Our fitness perks let your<br/>employees push their boundaries at<br/>the gym or home. </p> -->
                  <img src="<%= publicURL%>/img/img-fitness-perks1.jpg" class="img-fluid" style="width: 74%;">
                </div>
              </div>
              <div class="perkfix perkfix-home4">
                <div class="header-home3">
                  <p><span class="bold-title">Fitness</span> | Perks</p>
                </div>
                <div class="content-icon row" style="justify-content: center;">
                    <div class="col-auto pelaton">
                      <img src="<%= publicURL%>/img/pelaton.jpg" class="">
                      <div>Pelaton</div>
                    </div>
                    <div class="col-auto classpass">
                      <img src="<%= publicURL%>/img/classpass.jpg" class="">
                      <div>Classpass</div>
                    </div>
                    <div class="col-auto aaptiv">
                      <img src="<%= publicURL%>/img/aaptiv.jpg" class="">
                      <div>Aaptiv</div>
                    </div>
                  <div class="icon-desc">
                    <div>
                      <h1>59%</h1>
                    </div>
                    <div>
                      <p>of employees agree that wellness perks<br/>
                      increase loyalty.<sup>4</sup></p> 
                    </div>
                  </div>
                </div>
                <div class="content-link">
                  <a href="/wp/perkstore?category_id=12">More wellness perks  ></a>
                  <a href="#">Start Trial  ></a>
                </div>
                <div class="content-img">
                  <!-- <p class="title">Remote work.<br/>Business as usual.</p>
                  <div class="sub-icons">
                    <img class="image1" src="<%= publicURL%>/img/ico/ico-nordvpn.png">
                    <img class="image2" src="<%= publicURL%>/img/ico/ico-instacart.png">
                    <img class="image3" src="<%= publicURL%>/img/ico/ico-grubhubplus.png">
                    <p class="title-image3">GrubHub+</p>
                  </div>
                  <p class="content">Our virtual perks ensure work and life<br/>don't clash - they collaberate.</p> -->
                  <img src="<%= publicURL%>/img/img-remotework-perk1.jpg" class="image">
                </div>
              </div>
              <div class="perkfix perkfix-home5">
                <!-- <div class="man">
                  <p class="txt-man">Epic perks like Audible, Google<br/>Stadia, Apple music to ease their<br/>commute.</p>
                  <img src="<%= publicURL%>/img/man1.jpg">
                </div>
                <div class="car">
                    <img src="<%= publicURL%>/img/car1.jpg">
                </div> -->
                <div class="man">
                  <img src="<%= publicURL%>/img/man_car1.jpg" alt="">
                </div>
              </div>
              <div class="perkfix perkfix-home6">
                <div class="col-12 section-111">
                  <div class="row">
                    <div class="offset-lg-1 col-lg-6 col-md-7 col-sm-12">
                      <div class="title-commuter">
                        <h1>Commuter &nbsp;&nbsp; <span> | &nbsp; Perks</span></h1>
                      </div>
                      <div class="subsect-icons">
                        <div class="audible algin-icon">
                          <div>
                            <img src="<%= publicURL%>/img/audible.png" class="img-audible">
                          </div>
                          <p>Audible</p>
                        </div>
                        <div class="lime-bike algin-icon">
                          <div>
                            <img src="<%= publicURL%>/img/lime-bike.png" class="img-lime">
                          </div>
                          <p>Lime Bike</p>
                        </div>
                        <div class="spotify algin-icon">
                          <div>
                            <img src="<%= publicURL%>/img/spotify.png" class="spotify">
                          </div>
                          <p>Spotify</p>
                        </div>
                        <div class="uber algin-icon">
                          <div>
                            <img src="<%= publicURL%>/img/uber.jpg" class="uber">
                          </div>
                          <p>Uber</p>
                        </div>
                      </div>
              
                      <div class="subsect-link">
                        <a class="no-underline" href="#">More commuter perks ></a>
                        <a class="no-underline" href="#">Start Trial ></a>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                      <div class="title-commuter ">
                        <h1 class="title-red">1/3<sup>rd</sup></p>
                      </div>
                      <div class="content-commuter">
                        <p class="content-text">of American workers would<br/>
                          leave their current employer<br/>
                          in order to pursue more attractive<br/>
                          perks elsewhere.<sup>1</sup>
                        </p>
                      </div>
                      <div class="title-commuter">
                        <h1 class="title-green">10x</h1>
                      </div>
                      <div class="content-commuter">
                        <p>ROI realization on carefully crafted<br/>perks.<sup>3</sup></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 section-222">
                  <div class="row">
                    <div class="offset-lg-1 col-lg-3 col-md-4">
                      <div>
                        <h1>72%</h1>
                      </div>
                      <div>
                        <p>of employees agree<br/>personalized perks increase<br/>loyalty.<sup>4</sup></p> 
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div>
                        <h1>68%</h1>
                      </div>
                      <div class="sub-content">
                        <p>of employees agree that<br/>portability in benefits and<br/>perks increase loyalty.<sup>4</sup></p> 
                      </div>
                        <a href="#" class="btn-learn">Learn more</a>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div>
                        <h1>63%</h1>
                      </div>
                      <div>
                        <p>employees take sick leaves<br/>and are 3x times likely to<br/>quit due to burnout.<sup>6</sup></p> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="perkfix perkfix-home7">
                <div class="container1">
                  <!-- <div class="title">
                    <h1>Learn. Build. Repeat.</h1>
                    <p>World's largest learning resources — now<br/>aligned to your company's needs.</p>
                  </div> -->
                  <img src="<%= publicURL%>/img/Training perks1.jpg">
                </div>
                <!-- <div class="header-home3">
                  <h2 font-family="light"><span class="bold-title" style="font-family: SFProText-Bold;">Training</span> | Perks</h2>
                </div>
                <div class="content-icon1 offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12">
                  <div class="row">
                      <div class="pelaton col-auto">
                        <img src="<%= publicURL%>/img/pluralsight.jpg" class="">
                        <div>PLURALSIGHT</div>
                      </div>
                      <div class="classpass col-auto">
                        <img src="<%= publicURL%>/img/site-logo-400.jpg" class="">
                        <div>A CLOUD GURU</div>
                      </div>
                      <div class="aaptiv col-auto">
                        <img src="<%= publicURL%>/img/1-r-fz-wgaxkbf-va-yf-hiqu-hl-3-q.jpg" class="">
                      </div>
                    <div class="icon-desc col">
                      <div class="babel">
                        <img src="<%= publicURL%>/img/download.jpg" class="">
                      </div>
                      <div class="link">
                        <a href="/wp/perkstore?category_id=102">More Training Perks  ></a>
                        <a href="#">Start Trial  ></a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="container-fluid mb-lg-30 mb-md-15 mb-10">
                <h2 class="text-center mt-lg-20 mt-md-10 mt-3 mb-lg-40 mb-md-23 mb-10" font-family="bold">Training <span font-family="light">| Perks</span></h2>
                <div class="row d-flex justify-content-center">
                  <div class="pelaton col-auto">
                    <img src="<%= publicURL%>/img/pluralsight.jpg" class="img-fluid">
                    <h4>PLURALSIGHT</h4>
                  </div>
                  <div class="classpass col-auto">
                    <img src="<%= publicURL%>/img/site-logo-400.jpg" class="img-fluid">
                    <h4>A CLOUD GURU</h4>
                  </div>
                  <div class="aaptiv col-auto">
                    <img src="<%= publicURL%>/img/1-r-fz-wgaxkbf-va-yf-hiqu-hl-3-q.jpg" class="img-fluid">
                  </div>
                  <div class="babel col-auto">
                    <img src="<%= publicURL%>/img/download.jpg" class="img-fluid">
                  </div>
                </div>
                <div class="container text-right">
                  <a href="/wp/perkstore?category_id=102" class="dashboard-link">More Training Perks  ></a>
                  <a href="/trial" class="dashboard-link">Start Trial  ></a>
                </div>
              </div>
              <div class="perkfix perkfix-home8">
                <div class="container1">
                  <!-- <div class="title">
                    <h1>Our perks go beyond 9 to 5.</h1>
                  </div> -->
                  <img src="<%= publicURL%>/img/rustic family cooking21.jpg">
                </div>
              </div>
              <div class="perkfix perkfix-home9">
                <div class="header1">
                  <div class="header-home3">
                    <h1 font-family="light"><span class="bold-title" style="font-family: SFProText-Bold;">Lifestyle</span> | Perks</h1>
                  </div>
                  <div class="content-link">
                    <a href="/wp/perkstore?category_id=15">More lifestyle perks  ></a>
                    <a href="#">Start Trial  ></a>
                  </div>
                </div>
                <div class="container1">
                  <div class="row">
                    <div class="col-6 top-left1" style="padding-left: 0px;">
                      <img class="landing1" src="<%= publicURL%>/img/img-landing11.jpg">
                      <!-- <div class="ico-cols">
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-barkbox.png"></div>
                          <div>Barkbox</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-rover.png"></div>
                          <div>Rover</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-wag.png"></div>
                          <div>Wag</div>
                        </div>
                      </div> -->
                    </div>
                    <div class="col-6 top-right1" style="padding-right: 0px;">
                      <!-- <div class="ico-cols">
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-applearcade.png"></div>
                          <div>Apple Arcade</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-netflix.png"></div>
                          <div>Netflix</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-hbonow.png"></div>
                          <div>HBO NOW</div>
                        </div>
                      </div> -->
                      <img class="landing1" src="<%= publicURL%>/img/img-landing21.jpg">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 bottom-left1" style="padding-left: 0px;">
                      <img class="landing1" src="<%= publicURL%>/img/img-landing31.jpg">
                      <!-- <div class="ico-cols">
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-blueapron.png"></div>
                          <div>Blue Apron</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-dailyharvest.png"></div>
                          <div>Daily Harvest</div>
                        </div>
                        <div class="ico-item">
                          <div><img src="<%= publicURL%>/img/ico/ico-landing-homechef.png"></div>
                          <div>Home Chef</div>
                        </div>
                      </div> -->
                    </div>
                    <div class="col-6 bottom-right1" style="padding-right: 0px;">
                        <!-- <div class="ico-cols">
                            <div class="ico-item">
                              <div><img src="<%= publicURL%>/img/ico/ico-landing-stitchfix.png"></div>
                              <div>Stitch Fix</div>
                            </div>
                            <div class="ico-item">
                              <div><img src="<%= publicURL%>/img/ico/ico-landing-rtr.jpg"></div>
                              <div>Rent The Runway</div>
                            </div>
                            <div class="ico-item">
                              <div><img src="<%= publicURL%>/img/ico/ico-landing-kidpik.png"></div>
                              <div>Kidpik</div>
                            </div>
                          </div> -->
                      <img class="landing1" src="<%= publicURL%>/img/img-landing41.jpg">
                    </div>
                  </div>
                </div>
                <div id="perkfix_home10" class="perkfix perkfix-home10">
                  <div class="title">
                    <h1>How it works</h1>
                  </div>
                  <div class="setting">
                    <h2 class="txt-switch"><span class="txt-switch-off">For Employees</span><span class="txt-switch-on">For HR/ People Ops</span>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                      </label>
                    </h2>
                  </div>
                  <div class="container content subpage1 subpage">
                    <div class="option active mb-lg-120 mb-md-80 mb-20">
                      <div>
                        <a class="btn-number">1</a>
                      </div>
                      <div class="pt-md-0 pt-15">
                        <p class="txt-title">Sign-up</p>
                        <p class="txt-content"><span class="txt-switch-on">Sign-up to perkfix.com once invited by your HR.</span><span class="txt-switch-off">Setup your company account on perkfix.com.</span></p>
                      </div>
                    </div>
                    <div class="option active mb-lg-120 mb-md-80 mb-20">
                      <div>
                        <a class="btn-number">2</a>
                      </div>
                      <div class="pt-md-0 pt-15">
                        <p class="txt-title"><span class="txt-switch-on">Explore</span><span class="txt-switch-off">Program</span></p>
                        <p class="txt-content"><span class="txt-switch-on">Select preapproved perks from program.</span><span class="txt-switch-off">Build a customizable perks program for your employees.</span></p>
                      </div>
                    </div>
                    <div class="option active">
                      <div>
                        <a class="btn-number mb-lg-120 mb-md-80 mb-20">3</a>
                      </div>
                      <div class="pt-md-0 pt-15">
                        <p class="txt-title"><span class="txt-switch-on">Reimburse</span><span class="txt-switch-off">Invite</span></p>
                        <p class="txt-content"><span class="txt-switch-on">Reimburse perks</span><span class="txt-switch-off">Invite your team to join the program.</span></p>
                      </div>
                    </div>
                  </div>
                </div>   
              </div>  
            </div>
<%- include('../partials/footer-dashboard') %>