<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="container-fluid pt-50 pb-50 employee-login-container" font-family="medium" bg-color="brown">
    <div class="container">
        <div class="pt-40 pl-md-60 pr-md-50 rounded bg-light" id="login-image-wrapper">
            <div class="col-12 mt-10 ">
                <h4 color="gray">First time employee login</h4>
            </div>
            <div class="col-12 mt-20 mb-20 ">
                <h2><span>Get the app. Click the link in the invite.</span> <span color="green">Login within the app.</span></h2>
            </div>
            <div class="row mt-10">
                <div class="col-md-6 col-sm-12 mt-lg-80 mb-40">
                    <img src="<%= publicURL%>/img/appstore.png" class="img-fluid" alt="">
                    <h4 color="gray">Coming soon</h4>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="<%= publicURL%>/img/phone_screen.png" class="img-fluid" id="login-image" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>