<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="get-started">
    <div class="container">
        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 mt-lg-80 mt-md-50 mt-sm-20 get-started-page">
            <div class="title">
                <h1>Let's Get Started</h1>
                <p>We need some details from you</p>
            </div>
            <% if (isShowError) { %> 
            <div>
                <h3 style="color: #FF6666; border: 1px solid #FF6666;">An account with this email already exists, please login to the system.</h3>
            </div>
            <% } %>
            <form id="get_started" method="POST" action="">
                <div class="content">
                    <h5>Legal Entity Name <span class="red">*</span></h5>
                    <input type="text" name="comapnyname" placeholder="ACME INC" required>
                    <h5>Your Name <span class="red">*</span></h5>
                    <input type="text" name="firstname" class="part-name float-left" placeholder="John" required>
                    <input type="text" name="lastname" class="part-name float-right" placeholder="Doe" required>
                    <div class="clearfix"></div>
                    <h5>Your Corporate Email <span class="red">*</span></h5>
                    <input type="email" name="email" placeholder="jdoe@acme.com" required>
                    <div></div>
                    <p><input type="checkbox" name="accept" required>&nbsp;I accept terms and conditions. <span class="red">*</span></p>
                    <a href="/trial" class="float-left">&lt;Previous</a>
                    <a href=".">Save for later</a>
                    <button type="submit" class="submit-btn float-right">Next&gt;</button>
                </div>
            </form> 
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>