<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="login">
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="GET" action="">
              <h1>Log in to your <br/>Admin account</h1>
              <input type="text" name="login_email" placeholder="Username (Corporate Email)" />
              <input type="password" name="login_pass" placeholder="Password" />
              <button type="submit">Login</button>
              <p class="message">Don't have an account?<br/> <a href="/trial">Sign up here</a></p>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>