<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="platform-dashboard" font-family="light">
  <div class="col-12">
    <div class="row mt-20">
      <div class="container pl-0 pr-0">
        <h1 class="ml-auto mr-auto mt-md-60 mt-sm-20 mb-md-60 mb-20 text-center" font-family="bold">Powerful tools<br>deliver better rewards.</h1>
        <img src="<%= publicURL%>/img/platform-top.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row mt-lg-100 mt-md-70 mt-30" bg-color="black">
      <div class="container">
        <h3 class="mt-lg-90 mt-md-50 mt-30 text-center" color="green" font-family="bold">People Ops Platform</h3>
        <h1 class="mt-lg-20 mt-md-12 mt-15 mb-lg-100 mb-md-70 mb-40 text-center" color="white" font-family="bold">Rethink<br>employee perks management.</h1>
        <div class="row">
          <div class="col-6">
            <h2 class="mt-lg-80 mt-md-40 mt-10" color="white" font-family="bold">Easy to deploy</h2>
            <p class="mt-lg-10 mt-5" color="white" >We have simplified the setup process so you can get a perk program within minutes. With Budget Manager you can manage perk budget, get approvals from your C-suite and much more.</p>
          </div>
          <div class="col-6 mb-lg-50 mb-md-30 mb-sm-15">
            <img src="<%= publicURL%>/img/platform-mid1.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row" bg-color="black">
      <div class="container mt-30 mb-30">
        <div class="col-12">
          <h3 class="mb-10"><span class="border-top border-width-5-border-color-green" color="white" font-family="bold">Insights&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
          <p color="white" class="mt-md-10 mt-sm-2" >Perkfix makes it easier for your People Ops teams to understand their perk program's ROI budget utilization at a team or employee level, and much more.</p>
        </div>
        <div class="row mt-lg-100 mt-md-70 mt-40 mb-lg-100 mb-md-60 mb-40">
          <div class="ml-auto col-auto">
            <h6 class="mb-md-80 mb-20 text-center" color="gray" >Monthly Perk Utilization</h6>
            <div class="row">
                <div class="col-auto ml-auto mr-auto">
                    <div id="sparkline_2"></div>
                </div>
            </div>
          </div>
          <div class="mr-auto col-auto">
            <h6 class="mb-md-30 mb-10 text-center" color="gray" >Current Employee<br>Net Promoter Score</h6>
            <div class="row">
              <div class="col-auto ml-auto mr-auto">
                <span id="pie_chart_1" class="easy-pie-chart" data-percent="60">
                  <span class="percent head-font">60</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <script>
          var reloadPlatform = function() {
            // size variables
            var data = [3,5,3,0,6,8,10,5,6,4,8,2,5,6];
            var colors = data.map((d, i) => {
              return (i % 2 == 0) ? '#7e123e' : '#f0166c';
            });
            var barWidth = 10, barSpace = 10, barHeight = 100;

            var lineWidth = 15, pieSize = 150;

            if (windowWidth < 520) {
              data = data.slice(0, 10);
              colors = colors.slice(0, 10);
              barWidth = 5;
              barSpace = 5;
              barHeight = 60;
              lineWidth = 10;
              pieSize = 80;
              $(".platform-dashboard #pie_chart_1 .percent").css('font-size', '1.4em');
              $(".platform-dashboard #pie_chart_1 .percent").css('line-height', '3.5em');
            }

            // spark line
            if( $('#sparkline_2').length > 0 ){
              $("#sparkline_2").sparkline(data, {
                type: 'bar',
                width: '100%',
                height: barHeight,
                barWidth: barWidth,
                resize: true,
                barSpacing: barSpace,
                barColor: '#7e123e',
                colorMap: colors,
                highlightSpotColor: '#f0166c'
              });
            }

            // pie chart
            if( $('#pie_chart_1').length > 0 ){
              $('#pie_chart_1').easyPieChart({
                barColor : '#f0166c',
                lineWidth: lineWidth,
                animate: 1000,
                size:	pieSize,
                lineCap: 'round',
                scaleColor: '#000',
                trackColor: '#51102d',
                onStep: function(from, to, percent) {
                  $(this.el).find('.percent').text('3.9');
                }
              });
            }
          };
        </script>
        <div class="col-12">
          <h3 class="mb-10"><span class="border-top border-width-5-border-color-green" color="white" font-family="bold">Integrations</span></h3>
          <p color="white">Integrate with enterprise apps for easy onboarding and value add features. Save time by automating frequent tasks while managing your perk program.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row" bg-color="black" color="white">
      <div class="container mt-lg-80 mt-md-50 mt-10 mb-lg-80 mb-md-40 mb-30">
        <div class="row">
          <div class="col-6 offset-md-0 offset-6 order-md-2">
            <img src="<%= publicURL%>/img/platform-mid2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 offset-md-6 col-sm-12 order-md-3">
            <div class="col-auto mt-lg-70 mt-md-30 mt-20">
              <a href="#"><img src="<%= publicURL%>/img/platform-slack-icon.png" class="col-3 img-fluid" alt=""></a>
              <a href="#"><img src="<%= publicURL%>/img/platform-google-icon.png" class="offset-1 col-4 img-fluid" alt=""></a>
            </div>
            <div class="col-auto mt-lg-30 mt-md-10">
              <a href="#"><img src="<%= publicURL%>/img/platform-team-icon.png" class="offset-1 col-3 img-fluid" alt=""></a>
              <a href="#"><img src="<%= publicURL%>/img/platform-yammer-icon.png" class="offset-1 col-4 img-fluid" alt=""></a>
            </div>
            <div class="col-auto mt-lg-30 mt-md-10">
              <a href="#"><img src="<%= publicURL%>/img/platform-barcode-icon.png" class="col-3 img-fluid" alt=""></a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 order-md-1">
            <ul class="list-icon mt-lg-80 mt-30">
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Onboard teams to perk program</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Automate workflows</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Create polls</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Budget approvals</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Identity management</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Security and compliance</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="container mt-lg-80 mt-md-40 mt-20 mb-lg-100 mb-md-60 mb-40">
        <h3 class="text-center" font-family="bold">Employee Platform</h3>
        <h1 class="text-center mt-10 platform-gradient-title" font-family="bold">Personal. Simple. Intuitive.</h1>
        <div class="row mt-lg-100 mt-md-70 mt-sm-40">
          <div class="col-12 d-md-none">
            <h3 class="mt-lg-30 mt-10" font-family="bold">Thousands of perks in your pocket.</h3>
            <p class="mt-lg-30 mt-10" >Our employee app is built on a familiar interface. Managing perks is as easy as managing your favorite music playlist.</p>
          </div>
          <div class="col-8">
            <h3 class="mt-lg-30 mt-10 d-none d-md-block" font-family="bold">Thousands of perks in your pocket.</h3>
            <p class="mt-lg-30 mt-10 d-none d-md-block" >Our employee app is built on a familiar interface. Managing perks is as easy as managing your favorite music playlist.</p>
            <ul class="list-icon mt-lg-80 mt-30">
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Create Perk Lists</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Shop for perks <a href="/shop-perks" style="font-size: 0.8em; color: #3e91ff;">Where to shop<span class="material-icons" style="font-size: 0.8em;">open_in_new</span></a></span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Get reimbursed</span>
              </li>
              <li class="mb-md-20 mb-10 platform-li-span">
                <i class="platform-check-circle-icon"></i>
                <span>Check balance</span>
              </li>
            </ul>
          </div>
          <div class="col-4 mt-10">
            <img src="<%= publicURL%>/img/platform-phone-image.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="container-fluid" bg-color="brown">
        <div class="container mt-lg-60 mt-md-30 mt-15 pt-40 pb-md-0 pb-20 rounded" id="platform-image-wrapper" bg-color="white">
          <div class="col-md-12 mt-20 pl-40 pr-40 d-md-none">
            <img src="<%= publicURL%>/img/platform-phone2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-12 mt-30 pl-md-40">
            <h4 style="font-weight: 600;">Privacy and security</h4>
          </div>
          <div class="col-md-12 mt-30 mb-30 pl-md-40 pr-30">
            <h2 style="text-align: justify;" font-family="bold"><span>End to end encryption. Your debit card numbers are hidden from Perkfix.</span> <span color="gray">We are commited to protect your data. We learn what your employees need not who they are.</span></h2>
          </div>
          <div class="ml-auto mr-auto col-md-5 col-sm-8 col-xm-12 d-none d-md-block">
            <img src="<%= publicURL%>/img/platform-phone2.png" class="img-fluid" id="platform-image" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="container mt-lg-45 mt-25 mb-lg-40 mb-20">
        <h1 class="platform-gradient-title-1" font-family="bold">Perks that work <br class="d-none d-md-block">like magic.</h1>
        <div class="row mt-lg-25 mt-10 mb-lg-30 mb-md-15 mb-sm-6">
          <div class="col-sm">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active platform-dashboard-nav-link text-left" data-toggle="tab" href="#menu1" font-family="light">Perklists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link platform-dashboard-nav-link text-center" data-toggle="tab" href="#menu2" font-family="light">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link platform-dashboard-nav-link text-right" data-toggle="tab" href="#menu3" font-family="light">Link&nbsp;&nbsp;</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content platfrom-dashboard-tab-content">
              <div id="menu1" class="container tab-pane active pt-lg-30 pt-20"> 
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="mt-lg-100 mt-md-70 mt-10 mb-20 pt-lg-60 pt-md-30">Perklists allow employees to curate and save perks that they would like to get reimbursed for.</h5>
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="<%= publicURL%>/img/platform-mobile-1.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
              <div id="menu2" class="container tab-pane fade pt-lg-30 pt-20"> 
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="mt-lg-100 mt-md-70 mt-10 mb-20 pt-lg-60 pt-md-30">Frequently updated categories of perks for everyone.</h5>
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="<%= publicURL%>/img/platform-mobile-2.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
              <div id="menu3" class="container tab-pane fade pt-lg-30 pt-20"> 
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="mt-lg-100 mt-md-70 mt-10 mb-20 pt-lg-60 pt-md-30">It is easy to link your debit card to get reimbursed. With Perkfix we will not ship another debit card to use our perks, so you get to use your favorite cashback cards.</h5>
                  </div>
                  <div class="col-md-4 text-center">
                    <img src="<%= publicURL%>/img/platform-mobile-3.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="col-auto mt-lg-30 mt-15 mb-lg-40 mb-20 text-center">
            <a href="/trial" class="btn btn-lg font-family-size-custom-button" color="white" bg-color="green">Start Trial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer-dashboard') %>