<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="auth content-thanks" bg-color="white" style="height: auto !important;">
    <div class="auth-page pt-lg-80 pt-md-60 pt-sm-20">
        <h1 >Thanks for Signing up</h1>
        <div class="content">
            <p>One of our perk specialists will get in touch with you.</p>
            <p>Let's setup a quick call to understand you needs.</p>

            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/steven-249/perkfix" style="min-width:320px;height:650px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <!-- Calendly inline widget end -->

            <a href="https://calendly.com/event_types/user/me">Book Call</a>
            <br>
            OR
        </div>
        <div class="content col-auto" style="display: flex; justify-content: center;">
            <div class="input-content">
                <img class="flag" src="<%= publicURL%>/img/img-flag-us.png" width="36px">
                <span>+1</span>
                <input type="text" placeholder="Enter phone number">
                <img class="phone" src="<%= publicURL%>/img/ico/ico-phone.png">
            </div>
            
        </div>
        <div class="call-content" style="display: flex; justify-content: space-around; margin-bottom: 50px;">
            <a class="call btn btn-lg" href="/" color="white" style="background-color: gray;">Cancel</a>
            <a class="call btn btn-lg" href="tel:19294005667" color="white">Call Me Now</a>
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>