<%- include('../partials/header-dashboard1') %>
<%- include('../partials/topnavbar-dashboard') %>
<div class="trial">
    <div class="login-page">
        <h1>Hello</h1>
        <div class="btn-group" style="display: block;">
            <button class="btn btn-employers" onclick="location.href='./get-started';">HR/Employers</button>
            <button class="btn btn-employees" onclick="location.href='./employee-login-trial';">Employees</button>
        </div>
    </div>
</div>
<%- include('../partials/footer-dashboard') %>